*.uvguix
*.uvguix.Administrator
*.uvguix.flyleaf
*.uvguix.HuiBin
*.uvoptx
*.lnp
*.uvprojx
*.scvd
*.ini
*.dbgconf
*.lst
*.map
*.dep
*.crf
*.o
*.d
*.build_log.htm
*.htm
*.inp
*.sct
*.axf
*.sisc
*.xml
*.SearchResults
*.sip_sym
*.sip_xab
*.sip_xad
*.sip_xc
*.sip_xf
*.sip_xm
*.sip_xr
*.sip_xsb
*.sip_xsd
*.siproj
*.siproj_settings.xml
*.siwork
*.snippets.xml
settings/
*.si4project/